[merge]
    ff = false
[pull]
    ff = only
[fetch]
    prune = true
[push]
    default = simple
[pager]
    log = diff-highlight | less -FX
    reflog = diff-highlight | less -FX
    show = diff-highlight | less -FX
    diff = diff-highlight | less -FX
    tag = diff-highlight | less -FX
[alias]
    alias = config --get-regexp 'alias.*'
    me = config --get-regexp 'user.*'
    lme = config --local --get-regexp 'user.*'
    st = status
    sta = status -uall
    co = checkout
    work = checkout -b
    unstage = reset HEAD
    cm = commit
    logtips = log --date=local --pretty='format:%C(yellow)%h %C(green)%cd %C(cyan)%an%C(red)%d %C(reset)%s' -16
    lgt = log --date=local --pretty='format:%C(yellow)%h %C(green)%cd %C(cyan)%an%C(red)%d %C(reset)%s' -10
    lgtopo = log --date=local --topo-order --pretty='format:%C(yellow)%h %C(green)%cd %C(cyan)%an%C(red)%d %C(reset)%s' -10
    slog = log --no-merges --date=local --pretty='format:%C(yellow)%h %C(green)%cd %C(cyan)%an%C(red)%d %C(reset)%s' -10
    rb = rebase
    rbi = rebase -i
    br = branch
    bra = branch -a
    br-clear = "!f() { git branch -d $1; git push origin :$1; };f"
    mg-revert = revert -m 1
    df-isc = diff --ignore-space-change
    df-files = diff-tree --no-commit-id --name-only -r
    ranking = "!f() { git shortlog -sn --no-merges --after='date +%Y/%m/01' --before='date +%Y/%m/%d' | cat -n; }; f"
    mile-to-master = "!f() { git fetch; git rev-list --no-merges --count ..origin/master; }; f"
    mile-to-dev = "!f() { git fetch; git rev-list --no-merges --count ..origin/develop; }; f"
    pushf = push --force-with-lease
[include]
    ; local setting
    ; - ex1: set user's name and email
    ; - ex2: override aliases or other settings
    path = ~/.local.gitconfig

